In [2]:
import pandas as pd
import numpy 
import csv

In [31]:

# df = pd.read_csv('all_comments_since_2015.csv', error_bad_lines=False, warn_bad_lines=True)
# df = pd.read_csv('all_comments_since_2015.csv', delimiter=',', quotechar='"', error_bad_lines=False)
# df = pd.read_csv('all_comments_since_2015.csv', on_bad_lines='skip')
# df = pd.read_csv('all_comments_since_2015.csv', engine='python')
# df = pd.read_csv('all_comments_since_2015.csv', quoting=csv.QUOTE_NONE)

In [3]:
def handle_bad_line(bad_line):
    print(f"Bad line: {bad_line}")
    return None  # Returning None will skip the bad line
c_df = pd.read_csv('all_comments_since_2015.csv', on_bad_lines='skip', engine='python')
a_df = pd.read_csv('./author_profiles.csv')

print(c_df.shape, c_df.groupby('author').nunique().shape)
print(a_df.shape)

(1541609, 17) (8388, 16)
(10295, 38)

In [4]:
big_5_a_df = a_df.dropna(subset=['agreeableness', 'openness', 'conscientiousness', 'extraversion','neuroticism'])
# big_5_a_df.head(2)[['author', 'mbti', 'type', 'agreeableness', 'openness', 'conscientiousness', 'extraversion', 'neuroticism',  'num_comments', 'en_comments', 'is_female', 'is_female_pred', 'is_female_proba']]
# big_5_a_df.groupby('mbti').size()
all_df = pd.merge(c_df, big_5_a_df, on='author', how='inner') 
# all_df = all_df[all_df['lang'] =='en']
print(big_5_a_df.shape, all_df.shape)

(1568, 38) (58252, 54)

In [6]:
print(f"total author = {a_df.shape}")
print(f"total unique author = {a_df.groupby('author').nunique().shape}")
print(f"total unique big 5 author = {big_5_a_df.groupby('author').nunique().shape}")
print(30*"-")
print(f"total comments = {c_df.shape}")
print(f"total unique author in comments = {c_df.groupby('author').nunique().shape}")
print(f"total big 5 author w/ comments = {all_df.groupby('author').nunique().shape}")
print(f"total big 5 authers' comments {all_df.shape}")

total author = (10295, 38)
total unique author = (10295, 37)
total unique big 5 author = (1568, 37)
------------------------------
total comments = (1541609, 17)
total unique author in comments = (8388, 16)
total big 5 author w/ comments = (222, 53)
total big 5 authers' comments (58252, 54)

In [7]:
df = all_df[all_df['lang'] =='en']
df = df[df['word_count_quoteless']>1]
s = df[['author', 'author_flair_text', 'body', 'word_count_quoteless', 'agreeableness', 'openness', 'conscientiousness', 'extraversion', 'neuroticism']]

In [27]:
df

,author,author_flair_text,body,downs,created_utc,subreddit_id,link_id,parent_id,score,controversiality,...,enneagram_wing,is_native_english_country,predicted_test,test_name,test_scale,16pers_ta,test_result_type,is_female,is_female_pred,is_female_proba
0,MetricExpansion,ENTP,Those stats come from the test. [Echoing the c...,0.0,1.474429e+09,t5_2s90r,t3_53plrw,t3_53plrw,6.0,0.0,...,NaN,NaN,0.0,outofservice,percentiles,NaN,description,0.0,0,0.113660
1,MetricExpansion,NaN,"That's great to hear! I hope you know that, de...",0.0,1.480139e+09,t5_2s90r,t3_5ep948,t1_dafz6ab,1.0,0.0,...,NaN,NaN,0.0,outofservice,percentiles,NaN,description,0.0,0,0.113660
2,MetricExpansion,[ENTP-5 M 22],I can totally agree on reticence! With respect...,0.0,1.455096e+09,t5_2s90r,t3_44q2vf,t1_cztchk3,1.0,0.0,...,NaN,NaN,0.0,outofservice,percentiles,NaN,description,0.0,0,0.113660
3,MetricExpansion,<U+1D07><U+0274><U+1D1B><U+1D18> - <U+1D1B><U+...,I took it several times. I'm typed as TYPE_MEN...,0.0,1.462865e+09,t5_2s90r,t3_4ijf4l,t3_4ijf4l,1.0,0.0,...,NaN,NaN,0.0,outofservice,percentiles,NaN,description,0.0,0,0.113660
4,MetricExpansion,<U+1D07><U+0274><U+1D1B><U+1D18> - <U+1D1B><U+...,Gawd it's like we don't even need drugs to be ...,0.0,1.460656e+09,t5_2s90r,t3_4eptxr,t1_d22uh4r,1.0,0.0,...,NaN,NaN,0.0,outofservice,percentiles,NaN,description,0.0,0,0.113660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58247,VAOTOMARNOCU,INTP Chad,how about C in an open marriage?,0.0,1.509283e+09,t5_2ya42,t3_79geve,t3_79geve,6.0,0.0,...,NaN,NaN,1.0,truity,percentiles,NaN,scores,0.0,0,0.193201
58248,Dream_Cancel,NaN,1) Character pick doesn't matter until the reg...,0.0,1.498506e+09,t5_31zbe,t3_6ji6fv,t3_6ji6fv,1.0,0.0,...,NaN,NaN,0.0,ipip300,percentiles,NaN,percentiles,NaN,0,0.020046
58249,Dream_Cancel,INTP,I would like to highlight this. It's cool that...,0.0,1.494709e+09,t5_2qhvl,t3_6aws6u,t1_dhi3dji,2.0,0.0,...,NaN,NaN,0.0,ipip300,percentiles,NaN,percentiles,NaN,0,0.020046
58250,ItObserves,NaN,Extraversion: 4Agreeableness: 70Conscientiousn...,0.0,1.466846e+09,t5_2qhvl,t3_4pp9r0,t3_4pp9r0,1.0,0.0,...,NaN,NaN,0.0,ipip120,percentiles,NaN,percentiles,0.0,0,0.193155
58251,ItObserves,M/26/INTP,Here is what I know: It is futile to try to de...,0.0,1.465123e+09,t5_2r39a,t3_4mmo1x,t1_d3wp0fg,4.0,0.0,...,NaN,NaN,0.0,ipip120,percentiles,NaN,percentiles,0.0,0,0.193155

In [26]:
df[51000:][cols]

       openness  extraversion  neuroticism  agreeableness  conscientiousness
57390      50.0          76.0          5.0           17.0               88.0
57391      50.0          76.0          5.0           17.0               88.0
57392      50.0          76.0          5.0           17.0               88.0
57393      50.0          76.0          5.0           17.0               88.0
57394      50.0          76.0          5.0           17.0               88.0
...         ...           ...          ...            ...                ...
58247      80.0           8.0          3.0            4.0               83.0
58248      69.0          19.0         10.0           20.0               62.0
58249      69.0          19.0         10.0           20.0               62.0
58250      82.0           4.0         62.0           70.0                1.0
58251      82.0           4.0         62.0           70.0                1.0

[818 rows x 5 columns]

In [8]:
cols = ['openness', 'extraversion', 'neuroticism', 'agreeableness','conscientiousness']
s.loc[:, cols] = df.loc[:, cols] / 20 # scaled the score to 5
s.rename(columns= {'author':'#AUTHID', 'body': 'STATUS', 'openness': 'cOPN', 'extraversion': 'cEXT', 'neuroticism': 'cNEU', 'agreeableness' : 'cAGR', 'conscientiousness':'cCON'},inplace=True)
s = s.drop(['author_flair_text', 'word_count_quoteless'], axis=1)
print(s.shape)

(51818, 7)

/tmp/ipykernel_2512726/1090229157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s.rename(columns= {'author':'#AUTHID', 'body': 'STATUS', 'openness': 'cOPN', 'extraversion': 'cEXT', 'neuroticism': 'cNEU', 'agreeableness' : 'cAGR', 'conscientiousness':'cCON'},inplace=True)

In [ ]:
# cols = ['cOPN', 'cEXT', 'cNEU', 'cAGR', 'cCON']
# for col in cols:
#     mean_value = s[col].mean()
#     s[f'{col}'] = s[col] > mean_value
#     s[cols] = s[cols].replace({True: 1, False: 0})

In [114]:
s.to_csv('../pandora_to_big5.csv')